
@{
    ViewBag.Title = "Doktor";
}




<!-- breadcrumb start-->
<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--::doctor_part start::-->
<section class="doctor_part section_padding single_doctor_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <h2>Tebrübeli Doktor Kadromuz</h2>
                    <p>Tüm doktorlarımız alanlarında uzman olup sizlere yardımcı olmak için hazırlar.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_1.png" alt="doctor">
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Doktor 1</h3>
                            <p>Alan 1</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_4.png" alt="doctor">
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Doktor 2</h3>
                            <p>Alan 2</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_2.png" alt="doctor">
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Doktor 3</h3>
                            <p>Alan 3</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_3.png" alt="doctor">
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Doktor 4</h3>
                            <p>Alan 4</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_1.png" alt="doctor">
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Doktor 5</h3>
                            <p>Alan 5</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_4.png" alt="doctor">
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Doktor 6</h3>
                            <p>Alan 6</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_2.png" alt="doctor">
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Doktor 7</h3>
                            <p>Alan 7</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_3.png" alt="doctor">
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Doktor 8</h3>
                            <p>Alan 8</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--::review_part start::-->
<section class="review_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="client_review_part owl-carousel">
                    <div class="client_review_single">
                        <img src="/img/Quote.png" class="Quote" alt="quote">
                        <div class="client_review_text">
                            <p>Sağlıklı yaşasa bile, dengesiz düşünen insan strese düşer, sinir sistemi tahrip olur.</p>
                        </div>
                        <h4>Muhammed Bozdağ, <span>Türk düşünür</span></h4>
                    </div>
                    <div class="client_review_single">
                        <img src="/img/Quote.png" class="Quote" alt="quote">
                        <div class="client_review_text media-body">
                            <p>Vücuduna tükenmez bir sadakatle bak. Gönül, yalnızca bu gözler aracılığıyla görür ve o gözlerin feri yoksa bütün dünya bulanık görünür…</p>
                        </div>
                        <h4>Goethe, <span>Ünlü düşünür</span></h4>
                    </div>
                    <div class="client_review_single">
                        <img src="/img/Quote.png" class="Quote" alt="quote">
                        <div class="client_review_text">
                            <p>
                                Bugün temiz hava aldığım ve temiz su içtiğim için minnettarım.
                                Beni seven dostlarım ve ailem olduğu için minnettarım.
                                Sağlıklı bir bedenim, yaratıcı bir zihnim ve ilginç bir işim olduğu için minnettarım…
                            </p>
                        </div>
                        <h4>Arielle Ford, <span>Ünlü düşünür</span></h4>
                    </div>
                    <div class="client_review_single">
                        <img src="/img/Quote.png" class="Quote" alt="quote">
                        <div class="client_review_text">
                            <p>Hareket eksikliği her insanda iyi kondisyonu yok eder, hareket ve metodolojik fiziksel egzersiz ise onu korur ve sürdürebilmesini sağlar.</p>
                        </div>
                        <h4>Eflatun, <span>Ünlü düşünür</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::review_part end::-->
<!--::doctor_part start::-->
<!--
<section class="doctor_part single_page_doctor_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8" style="margin-top:120px">
                <div class="section_tittle text-center">
                    <h2>
                        Tebrübeli Doktor Kadromuz
                    </h2>
                    <p>
                        Tüm Doktorlarımız Alanlarında Uzman Olup Sizlere Yardımcı Olmak Için Hazırlar.

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_1.png" alt="doctor">
                        <div class="social_icon">
                            <ul>
                                <li><a href="#"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="#"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>DR Adam Billiard</h3>
                            <p>Heart specialist</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_4.png" alt="doctor">
                        <div class="social_icon">
                            <ul>
                                <li><a href="#"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="#"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>DR Adam Billiard</h3>
                            <p>Medicine specialist</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_2.png" alt="doctor">
                        <div class="social_icon">
                            <ul>
                                <li><a href="#"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="#"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>DR Fred Macyard</h3>
                            <p>CHeart specialist</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_3.png" alt="doctor">
                        <div class="social_icon">
                            <ul>
                                <li><a href="#"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="#"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>DR Justin Stuard</h3>
                            <p>Heart specialist</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_1.png" alt="doctor">
                        <div class="social_icon">
                            <ul>
                                <li><a href="#"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="#"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>DR Adam Billiard</h3>
                            <p>Heart specialist</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_4.png" alt="doctor">
                        <div class="social_icon">
                            <ul>
                                <li><a href="#"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="#"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>DR Adam Billiard</h3>
                            <p>Medicine specialist</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_2.png" alt="doctor">
                        <div class="social_icon">
                            <ul>
                                <li><a href="#"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="#"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>DR Fred Macyard</h3>
                            <p>CHeart specialist</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/img/doctor/doctor_3.png" alt="doctor">
                        <div class="social_icon">
                            <ul>
                                <li><a href="#"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="#"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="#"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="#"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>DR Justin Stuard</h3>
                            <p>Heart specialist</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--::doctor_part end::--> 